<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Scoreboard</title>

	{% stylesheets 
		'bundles/scoreboardapp/css/jquery-ui.css'
		'bundles/scoreboardapp/css/bootstrap.css'
		'bundles/scoreboardapp/css/jquery.fancybox.css'
		'bundles/scoreboardapp/css/main.css' 
		filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>

<body>

{% block base %}{% endblock %}

{% javascripts 
	'@ScoreboardAppBundle/Resources/public/js/jquery.js'
	'@ScoreboardAppBundle/Resources/public/js/jquery-ui.js'
	'@ScoreboardAppBundle/Resources/public/js/bootstrap.js'
	'@ScoreboardAppBundle/Resources/public/js/jquery.fancybox.js'
	'@ScoreboardAppBundle/Resources/public/js/main.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}


</body>
</html>
